*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    letter-spacing: 0.0625em;
}

html{
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'Quicksand', sans-serif;
}

.bg-black {
    background-color: #5a6268 !important;
}
a{
    font-family: 'Varela Round', sans-serif;
    color: #5a6268;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    font-family: 'Varela Round', sans-serif;
    color: #f9b5a4;
    text-decoration: underline;
}
/**** About ****/
.about-title{
    color: #5a6268 !important;
    font-weight: bold;
}
.about-section{
    padding-top: 5rem;
    background: #f1cbc0;
    height: 600px;
    padding-top: 9rem;
}
.img-thumbnail {
    padding: 2rem;
    /* background-color: #fff; */
    /* border: 1px solid #dee2e6; */
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}
.projects-section {
    padding: 10rem 0;
}
.projects-section .featured-text {
    padding: 2rem;
}
.about-text p{
    color: #5a6268;
    font-weight: bold;
    font-style: italic;
    padding: 16px;
}
.about-section hr{
    border-color: #5a6268;
    border-width: 0.25rem;
    width: 20%;
}
/**** Project one row ****/

img{
    vertical-align: middle;
    border-style: none;
}
caption{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom;
}
/* Masthead */
.masthead{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.267) 75%, #f1cbc0 100%), url(../img/cover.jpg);
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.masthead h1 {

    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
}
.masthead h2 {
    max-width: 20rem;
    font-size: 1rem;
}
.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: "Varela Round";
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
  }
  .text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
  }
  /* Button */
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn:hover {
    color: #212529;
    text-decoration: none;
  }
  .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(100, 161, 157, 0.25);
  }
  .btn.disabled, .btn:disabled {
    opacity: 0.65;
  }
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  a.btn.disabled,
  fieldset:disabled a.btn {
    pointer-events: none;
  }
  
  .btn-primary {
    color: #5a6268;
    background-color: #f9b5a4;
    padding: 20px;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #5a6268;
    
  }
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #5a6268;
    
    box-shadow: 0 0 0 0.2rem rgba(123, 175, 172, 0.5);
  }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    
   
  }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #5a6268;
    
  }
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(123, 175, 172, 0.5);
  }
  
  .btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  .btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }
  .btn-secondary:focus, .btn-secondary.focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
  }
  .btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
  }
  .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
  }
.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
  border: 2px solid #5a6268;
  padding: 10px;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
} 


/**** Formulaire de contact ****/
.contact-form-section{
    background: url(../img/inkcloud.jpg);
    padding: 10rem 0;

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.text-white{
    color: #f9b5a4 !important;
    font-weight: bold;
    
}
.contact-title{
   color:#5a6268 ; 
   font-weight: bold;
   margin-bottom: 5rem;
}
/**** Page Article ****/
.post-view-head{
  position: relative;
  width: 100%;
  height: 25rem;
  background: url(../img/inkcloud.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.post-view-head img{
  object-fit: cover;
}
/**** Page Blog ****/
.post-chapo hr, .post-content hr, .post-comments hr, .recent-post hr{
  border-color: #f9b5a4;
  border-width: 0.25rem;
  width: 30%;
}
/**** Media queries ****/

@media (min-width: 992px){
.projects-section .project-text hr{
  border-color: #f9b5a4;
  border-width: 0.25rem;
  width: 30%;
  }
     
}
@media (min-width: 576px) {
   
    .form-inline .form-control {
      display: inline-block;
      
      vertical-align: middle;
    }
    
  }
@media (min-width: 768px) {
    .masthead h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
}
@media (min-width: 992px) {
    .masthead {
      height: 100vh;
      padding: 0;
    }
    .masthead h1 {
      font-size: 6rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    .masthead h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
}
@media screen and (max-width:992px){
    .about-section img{
       display: none;

    } 
    .about-section{
        height: 500px;
    } 
    
}